canvas{
    display: block;
    margin: 0 auto;
}
.snk{
    position: absolute;
    top :93px;
    left: 56px;
    width: 50%;
}

body{
    font-family: 'Baloo Bhaina 2', cursive;
}

.name{
    text-align: center;
    font-size: 50px;
    margin: 15px 48px;
}

.name::before{
    content: "";
    background: url('./img/photo-1561016444-14f747499547.jpg');
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
   height: 100%;
    opacity: 0.5;
}

.snim{
    width: 33%;
    position: absolute;
    top: 93px;
    right: 110px ;
}

.button{
    position: absolute;
    top: 722px;
        right: 804px;
        font-size: 27px;
        box-shadow: 0 5px 10px rgba(0, 0, 0,0.952); 
        border-radius: 10px;
        color: green;
        background-color: black;
        opacity: 0.8;
}
.last{
    color: black;
    position: absolute;
    bottom: 13px;
    right: 48px;
}